body {
  background: linear-gradient(90deg, #ffeaf6 0%, #eaf6ff 100%);
}
.container {
  margin: 20px auto;
  padding: 0px;
  max-width: 700px;
  background-image: url("../img/container.png");
  background-repeat: no-repeat;
  text-align: center;
}
.icon {
  padding-top: 50px;
}
.current-temp {
  position: relative;
  top: -15px;
}
.live-temp {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: #b3a9d7;
}
.convert {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -25px;
  color: #d1e4ea;
}
.convert .active {
  color: #868686;
  cursor: default;
}
.convert .active:hover {
  text-decoration: none;
  cursor: default;
}
.celsius a {
  font-size: 14px;
  position: relative;
  top: -5px;
  left: -4px;
  color: #cdba75;
  text-decoration: none;
}
.celsius a:hover {
  text-decoration: underline;
}
.separater {
  font-size: 10x;
  position: relative;
  top: -4px;
  right: 4px;
}
.fahrenheit a {
  font-size: 14px;
  position: relative;
  top: -5px;
  left: -4px;
  color: #cdba75;
  text-decoration: none;
}
.fahrenheit a:hover {
  text-decoration: underline;
}
.stats {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  color: #cdba75;
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
  color: #868686;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
}
h2 {
  padding-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #e7b5d2;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
}
.wave-top {
  background-image: url("../img/wave-top.png");
  background-repeat: no-repeat;
  padding-top: 6px;
}
.upcoming-forecast {
  background-color: #e8e2fa;
  padding-top: 30px;
  padding-bottom: 30px;
}
.forecast {
  max-width: 100px;
  background: #fff;
  padding: 5px;
  margin-left: 30px;
  border-radius: 4px;
}
.forecast-day {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #e7b5d2;
  text-transform: uppercase;
}
.icons {
  position: relative;
  top: -10px;
}
.temp-max {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #a6a6a6;
}
.temp-min {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #adcce4;
}
.wave-bottom {
  background-image: url("../img/wave-bottom.png");
  background-repeat: no-repeat;
  padding-bottom: 6px;
}
.search {
  background-color: #fff;
  padding: 20px;
  max-width: 700px;
}
.search-box {
  width: 474px;
  padding: 2px 2px 5px 2px;
  margin-right: 5px;
  border: 1px solid #ededed;
  border-radius: 4px;
  color: #a6a6a6;
}
.search-button {
  background: #e7b5d2;
  padding: 5px 10px 5px 10px;
  border: 1px solid #e7b5d2;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
.search-button:hover {
  background: #fff;
  border: 1px solid #e7b5d2;
  color: #e7b5d2;
}
.bottom {
  background: #fff;
  padding: 10px;
}
.credit {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #b3a9d7;
  font-size: 12px;
  letter-spacing: 5px;
}
