body {
  background: linear-gradient(90deg, #ffeaf6 0%, #eaf6ff 100%);
}
.container {
  margin: 20px auto;
  padding: 0px;
  max-width: 700px;
  background-image: url("../img/container.png");
  background-repeat: no-repeat;
}
.icon {
  text-align: center;
  padding-top: 50px;
}
.current-temp {
  position: relative;
  top: -15px;
  text-align: center;
}
.live-temp {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: #d8d1f1;
}
.convert {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -25px;
  color: #d1e4ea;
}
.degree1 {
  font-size: 22px;
}
.celsius a {
  font-size: 14px;
  position: relative;
  top: -5px;
  left: -4px;
  color: #eeda91;
  text-decoration: none;
}
.celsius a:hover {
  color: #d5d5d5;
  text-decoration: underline;
}
.separater {
  font-size: 10x;
  position: relative;
  top: -4px;
  right: 1px;
}
.degree2 {
  font-size: 22px;
}
.fahrenheit a {
  font-size: 14px;
  position: relative;
  top: -5px;
  left: -4px;
  color: #fbd1e9;
  text-decoration: none;
}
.fahrenheit a:hover {
  color: #d5d5d5;
  text-decoration: underline;
}
.stats {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  color: #eeda91;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #868686;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
}
h2 {
  text-align: center;
  padding-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fbd1e9;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
}
.search {
  background-color: #fff;
  padding: 20px;
  max-width: 700px;
  text-align: center;
}
.search-box {
  width: 474px;
  padding: 2px 2px 5px 2px;
  margin-right: 5px;
  border: 1px solid #ededed;
  border-radius: 4px;
  color: #d4cced;
}
.search-button {
  background: #fbd1e9;
  padding: 5px 10px 5px 10px;
  border: 1px solid #fbd1e9;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
.search-button:hover {
  background: #fff;
  border: 1px solid #fbd1e9;
  color: #fbd1e9;
}
.bottom {
  background: #fff;
  padding: 10px;
}
.credit {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #d4cced;
  font-size: 12px;
  letter-spacing: 5px;
}
